.button-style {
  -moz-box-shadow: 0px 0px 0px 2px rgb(13,71,161);
  -webkit-box-shadow: 0px 0px 0px 2px rgb(13,71,161);
  box-shadow: 0px 0px 0px 2px rgb(13,71,161);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgb(13,71,161)), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, rgb(13,71,161) 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, rgb(13,71,161) 5%, #476e9e 100%);
  background:-o-linear-gradient(top, rgb(13,71,161) 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, rgb(13,71,161) 5%, #476e9e 100%);
  background:linear-gradient(to bottom, rgb(13,71,161) 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(13,71,161)', endColorstr='#476e9e',GradientType=0);
  background-color:rgb(13,71,161);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid rgb(13,71,161);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  padding:12px 37px;
  text-decoration:none;
  text-shadow:0px 1px 0px rgb(13,71,161);
  margin-top: 40px;
}
.button-style:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, rgb(13,71,161)));
  background:-moz-linear-gradient(top, #476e9e 5%, rgb(13,71,161) 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, rgb(13,71,161) 100%);
  background:-o-linear-gradient(top, #476e9e 5%, rgb(13,71,161) 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, rgb(13,71,161) 100%);
  background:linear-gradient(to bottom, #476e9e 5%, rgb(13,71,161) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='rgb(13,71,161)',GradientType=0);
  background-color:#476e9e;
}
.button-style:active {
  position:relative;
  top:1px;
}